body {
    font-family: Arial;
    background-color: blueviolet;
}
table {

    font-family: monospace;
    background-color: darkgoldenrod;
}
tr.judul_table {
    font-weight: bold;
    text-align: center;
    background-color: aqua;
}